
<ul>
<u>
  <h4>{{name}}</h4>
  <hr>
</u>
{{#each users}}
<li>{{id}}</li>
{{ name}}
<br>
{{gender}}
<br>
{{age}}

{{#each friends }}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{#each mutual_friends }}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{/each}}

<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{#each mutual_friends }}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}

{{/each}}
{{/each}}
{{#each groups }}

<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{ description}}
{{#each members}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{/each}}
{{#each members}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{/each}}
{{/each}}
{{#each friends }}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{#each mutual_friends}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}

{{/each}}
{{/each}}
{{#each groups}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}
{{#each members}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}

{{/each}}
<li>{{id}}</li>
{{name}}
<br>
{{gender}}
<br>
{{age}}


{{/each}}
{{/each}}

  </ul>     
        
       
                
           
       
        
        



