<ul>
  <h4>{{name}}</h4>
  <hr>

<div class="card">
 
{{#each users}}
{{id}})
<h6>{{ name}}</h6>
{{gender}}
{{age}}
</div>
<br>
<div class="card">
{{#each friends }}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
<br>
<div class="card">
{{#each mutual_friends }}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
{{/each}}
</div>
<br>
<div class="card">
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
<br>
<div class="card">
{{#each mutual_friends }}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
{{/each}}
</div>
{{/each}}
<br>
<div class="card">
{{#each groups }}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{ description}}
</div>
<br>
{{#each members}}
  <br>
<div class="card">
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
{{/each}}
<br>
{{#each members}}
<br>
<div class="card">
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
{{/each}}
{{/each}}
<br>
<div class="card">
{{#each friends }}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
<br>
<div class="card">
{{#each mutual_friends}}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
{{/each}}
</div>
{{/each}}
<br>
<div class="card">
{{#each groups}}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
</div>
<br>
<div class="card">
{{#each members}}
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
{{/each}}

<br>
<div class="card">
{{id}})
<h6>{{name}}</h6>
{{gender}}
{{age}}
{{/each}}
{{/each}}
</div>

</div>
  </ul>     
        
       
                
           
       
        
        



