

   
 <div class="card">
  <div class="row">
    <div class="card body">
  <div class="col-6">
    <ul>
    <h3>{{name}}</h3>
   <h5> {{description}}</h5>
    <h6> {{ price}}$</h6>
    
   <h6>{{category}}</h6>
   <hr>
    {{#with features}}
    {{#with processor}}
 <h6>{{brand}}</h6>
  <li>{{model}}</li>
  <li>{{speed}}</li>
   <li>{{cores}}</li> 
  <li>{{cache}}</li>  
  <hr> 
    {{/with}}
    {{#with memory}}
    <li>{{type}}</li>
    <li>{{size}}</li>
    <li>{{speed}}</li>
    <hr>
    {{/with}}
    {{#with storage}}
    <li>{{type}}</li>
    <li>{{size}}</li>
    <hr>
    {{/with}}
    {{#with display}}
    <li>{{size}}</li>
    <li>{{ resolution}}</li>
    <li>{{ technology}}</li>
    <li>{{ color_space}}</li>
    <li>{{ brightness}}</li>
    <li>{{refresh_rate}}</li>
    <hr>
    {{/with}}
    {{#with graphics}}
    <h6>{{brand}}</h6>
    <li>{{model}}</li>
    <li>{{memory}}</li>
    <hr>
    {{/with}}
    {{#each ports}}
   <h6>{{type}}</h6>
    <li>{{count}}</li>
    {{#each graphics }}
    <li>{{this}}</li>
    {{/each}}
    <hr>
   
    {{/each}}
    {{#with battery}}
   <h6>{{type}}</h6>
   <li>{{capacity}}</li> 
   <li>{{life}}</li>
    {{/with}}    

    <li>{{weight}}</li>
    {{#with dimensions}}
    <li>{{height}}</li>
    <li>{{width}}</li>
    <li>{{depth}}</li>
    {{/with}}
    <hr>
    <h6>{{ operating_system}}....</h6>
    {{#each accessories }}
    <li>{{name}}</li>
    <li>{{price}}$</li>
    {{/each}}
    {{/with}} 
    </ul>      
   </div>    
   </div>    
   </div>    
   </div>    
   </div>    
   
     <img class=" lg-image"src="https://files.refurbed.com/ii/macbook-pro-2019-133-tb-1661507926.jpg?t=resize&h=630&w=800">  
     

