<div>
<ul>
    <div class="row">
        <div class="col-8">
<div class="card">
<div class="nav">    
    {{#with navigation}}
    {{#each links}}       
    <a class="nav-link  active"  href="{{href}}">{{text}}</a>
      {{/each}}
      {{/with}} 
</div>
</div>

<div>
<h1>{{header}}</h1>
<br>
{{#with contacts_data}} 
<h2>{{title}}</h2>
<button type="button" class="btn btn-warning">Я новий покупець</button>
<button type="button" class="btn btn-outline-warning">Я постійний покупець</button>
</div>
<div>
<div class="col-8">
 <div class="mb-3">
  {{#with form}}
{{#with input}}
{{#with surname}}

  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
</div>
{{/with}}
{{#with name}}
<div class="col-8">
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
</div>
{{/with}}

{{#with phone}}

<div class="col-8">

  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
</div>

{{/with}}
{{#with email}}
<div class="col-8">
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
</div>
{{/with}}
</form>
{{/with}}
<hr>
{{#each switch}}

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">{{text}}</label>
</div>

{{/each}}
{{/with}}
{{/with}}
<hr>
</ul>
<div>
    <div class="col-4">     
    <div class="card">      
    <div class="card body">
<br>
  <button type="button" class="btn btn-success">Швидке замовлення</button>
  <br>
  <button type="button" class="btn btn-danger">Видалити</button>
  <br>
<button type="button" class="btn btn-info">Детальніше</button>
<br>
</div>
</div>
</div>
</div>
</div>









{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
