<ul class="nav">
    <li class="nav-item">
        <div class="card">
<div class="card-body">
        {{#with navigation }}
        {{#each links}}
        <a href="{{href}}">{{text}}</a>
        {{/each}}
        {{/with}}
    </div>    
    </div>    
    </li>
</ul>
<br>
<ul>

<nav>
    <ul class="breadcrumb">
{{#each breadcrumb}}
{{#unless url}}
<li class="breadcrumb-item">{{name}}</li>
{{else}}
<li class="breadcrumb-item"><a href="{{url}}">{{name}}</a></li>
{{/unless}}
{{/each}}
</ul>
</nav>
<h4>{{header}}</h4>
<div class="row">
{{#each sortBlock }}
<div class="col-3">
<select class="form-select ">
<option>{{ placeholder}}</option>
{{#each options}}
<option value="{{value}}">{{text}}</option>
  {{/each}}
</select>
</div>
{{/each}}
</div>
<br>
    <div class="row">
<div class="card">
 <div class="col-4">
  {{#with filterBlock }} 
  {{#with sellers}} 
{{title}}
<div class="form-check">
{{#each list}}
<input type="checkbox" class="form-check-input" id="dropdownCheck">
<label class="form-check-label" for="dropdownCheck">{{value}}</label>
</div>




{{/each}}
  {{/with}}
  <hr>
  {{#with brands}}
  <h4>{{title}}</h4>

  {{#with input}}
<div class="btn btn-outline-secondary text-start col-4">{{placeholder}}</div>
  {{/with}}
   <div class="col-4">
{{#each options}}
  <div class="form-check">
<input type="checkbox" class="form-check-input" id="dropdownCheck">
<label class="form-check-label" for="dropdownCheck">{{value}}</label>
  </div>
{{/each}}


  {{/with}}
  <hr>
  {{#with price}}
<h4>{{title}}</h4>
{{#with range}}
<div class="col-4">
<button type="button" class="btn btn-outline-secondary">{{from}}</button>
<button type="button" class="btn btn-outline-secondary">{{to}}</button>
</div>
{{/with}}
{{#with button}}
  <a href="{{link}}" class="btn btn-secondary" role="button" data-bs-toggle="button">{{text}}</a>
{{/with}}
{{/with}}

{{#each filterList}}
<hr>
<h5>{{title}}</h5>
{{#each options}}
  <div class="form-check">
<input type="checkbox" class="form-check-input" id="dropdownCheck">
<label class="form-check-label" for="dropdownCheck">{{value}}</label>
</div>
{{/each}}
{{/each}}
  {{/with}}
</div>


<div class="row">
    {{#each   goodsList}}
    <div class="col-8">
    {{#with img}}
     <img src="https://picsum.photos/400/200" class="card-img-top">

     {{/with}}
     </div>
    {{/each}}
</div>
</div>
</div>




 






