<ul>
<div>       
<div class="card">
<div class="nav">    
    {{#with navigation}}
    {{#each links}}       
    <a class="nav-link  active"  href="{{href}}">{{text}}</a>
      {{/each}}
      {{/with}} 
</div>
</div>

<div class="row">
<div class="col-8">
<h1>{{header}}</h1>
<br>
{{#with contacts_data}} 
<h2>{{title}}</h2>
<button type="button" class="btn btn-warning">Я новий покупець</button>
<button type="button" class="btn btn-outline-warning">Я постійний покупець</button>

<div class="row">
  {{#with form}}
{{#with input}}
{{#with surname}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>

{{/with}}
{{#with name}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{#with phone}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{#with email}}
<div class="col-6 mb-3">

  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{/with}}
<hr>
{{#each switch}}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">{{text}}</label>
</div>
{{/each}}
<hr>
{{/with}}
{{/with}}
{{#with delivery}}
<h4>{{title}}</h4>
<div class="card">
<div claass="card-body">
{{#each select}}
 
{{label}}
<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>{{ placeholder}}</option>
  {{#each options}}
  <option value="1">{{text}}</option>
  <option value="2">{{text}}</option>
  <option value="3">{{text}}</option>
  <option value="4">{{text}}</option>
  <option value="5">{{text}}</option>
  <option value="6">{{text}}</option>
  {{/each}}
</select>
{{/each}}

</div>
</div>
{{#each delivery_type }}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    {{type}}
  </label>
</div>
{{/each}}
<hr>
{{#with payment}}
<h4>{{title}}</h4>
{{#each list}}
  
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
   {{type}}
  </label>
</div>
   <label for="exampleInputEmail1" class="form-label">{{ description}}</label>

{{/each}}
{{/with}}
<hr>
<div class="row">

    {{#with contact}}
  <h3>{{title}}</h3>
  {{#with surname}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{#with name}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{#with phone}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{#with email}}
<div class="col-6 mb-3">
  <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{placeholder}}">
  <div id="passwordHelpBlock" class="form-text">{{caption}}
</div>
</div>
{{/with}}
{{/with}}
</div>
<hr>
{{#with coment}}
<h6>
<label for="exampleDataList" class="form-label">{{label}}</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="{{ placeholder}}">
</h6>
{{/with}}
{{/with}}
<hr>
{{#with coupon}}
{{#with select}}
{{#with availabel_coupon }}
<h6>{{label}}</h6>
<br>

<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>{{ placeholder}}</option>
  {{#each options}}
  <option value="1">{{text}}</option>
  <option value="2">{{text}}</option>
  <option value="3">{{text}}</option>
  {{/each}}
</select>
{{/with}}
{{#with friend_coupon }}
<h6>{{label}}</h6>
<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>{{ placeholder}}</option>
  {{#each options}}
  <option value="1">{{text}}</option>
  <option value="2">{{text}}</option>
  <option value="3">{{text}}</option>
  {{/each}}
</select>
{{/with}}
{{/with}}
<br>
{{#with add}}
{{#with friend}}
<h6>
<label for="inputPassword5" class="form-label">{{label}}</label>
</h6>
<input class="form-control" type="text" value="{{placeholder}}" aria-label="readonly input example" readonly>
<div id="passwordHelpBlock" class="form-text">
{{caption}}
</div>
{{/with}}
<br>
{{#with colleague}}
<h6>
<label for="inputPassword5" class="form-label">{{label}}</label>
</h6>
<input class="form-control" type="text" value="{{placeholder}}" aria-label="readonly input example" readonly>
<div id="passwordHelpBlock" class="form-text">
{{caption}}
</div>
{{/with}}
{{/with}}
{{/with}}
  <hr>
  {{#with quiz}}
  <h4>{{title}}</h4>
  {{#with preference}}
  <br>
  <h6>{{title}}</h6>
  <br>
  {{#each options }}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    {{this}}
  </label>
</div>
{{/each}}
  {{/with}}
 <br>
 {{#with your_expirience}} 
<h6> {{label}}</h6>
 {{/with}}
 <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
 <br>
 {{#with purchase_frequency }}
 <h6>{{label}}</h6>
 <select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>{{ placeholder}}</option>
  {{#each options}}
  <option value="1">{{text}}</option>
  <option value="2">{{text}}</option>
  <option value="3">{{text}}</option>
  {{/each}}
</select>
 {{/with}}
 {{#with factors}}
 <br>
 <h6>{{title}}</h6>
 {{#each options}}
 <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    {{this}}
  </label>
</div>
{{/each}}
{{/with}}
{{/with}}



</div>
</div>
<div class="col-4">   
<div class="card">    
{{#each action_block}}
<br>
<button type="button" class="btn {{#if isSuccess}} btn-success{{/if}} {{#if isDanger}} btn-danger {{/if}} {{#if isInfo}} btn-info{{/if}}">{{text}}</button>
{{/each}}
</div>


<div class="card">
<div class="card- body "> 
{{#with total}}
<h5>{{title}}</h5>
{{#each item_list}}
<p>{{name}}:{{price}}</p>
{{/each}}
<hr>
{{#each additional_info}}
<p>{{text}}:{{value}}</p>
{{/each}}
<hr>
{{#with total_price}}
<p>{{text}}:{{value}}</p>
{{/with}}
<hr>
{{#each button}}
<p>
<button type="button" class="btn {{#if isPrimary}} btn-primary{{/if}}
 {{#if isOutline}} btn-outline-primary {{/if}} ">{{text}}</button>
</p>
{{/each}}
{{/with}}

</div>

</div>
</div>
{{#each footer}}
  <div class="row">
{{#each this}} 
   <div class="col-4 ">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{link}}">{{text}}</a>
  </li>
  </ul>
</div>
{{/each}}
</div>
{{/each}}








</ul>

















{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
