
<div class="text-center">
  {{#with page_header}}
 <h1>{{title}}</h1>
 {{description}}
  {{/with}}
  <div class="card">
    <div class="card-body">
      {{#with section}}
      {{#with about_us}}
      {{#with about_us}}
      <h1>{{main}}</h1>
      
      {{sub}}
      {{/with}}
      <br>
      <button type="button" class="btn btn-info">
        {{#with button}} 
        {{text}}
        {{/with}}
      </button>
      {{/with}}
      </div>
      
     <div class="card">
  <div class="card-body">
    {{#with advantage}}
    <h1>{{title}}</h1>
    
    {{#with efficiency}}
    {{sub_title}}
    <br>
    {{description}}
    <br>
    <div class="text-end">
    <button type="button" class="btn btn-primary">
      {{button}}
    </button>
    </div>
    {{/with}}
    {{/with}}
      </div>
     </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
  {{#with  agreement}}
  <h3>{{title}}</h3>
  {{#with info}}
  <h4>{{sub_title}}</h4>
  {{#with detail}}
  <h5>{{text}}</h5>
  <button type="button" class="btn btn-danger">
    {{button}}
  </button>
  
      
      
  {{/with}}
  {{/with}}
  {{/with}}
    </div>
  </div>
  {{/with}}
    
  
</div>



        
       
                
           
       
        
        


{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
